#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.chart-outer {
  width: 100%;
  height: 100%;
  @extend %clearfix;
  padding: 0 2%;
  
  @include media("≥widescreen") {padding: 0 5%;}
  
  > div {
    width: 100% !important;
    height: 100% !important;
  }
}

#piechart,
#container,
#strengthPieChart {
  width: 100% !important;
  height: 100% !important;
  
  .amcharts-chart-div {
    z-index: 1;
    position: relative;
  }
}

#area-chart {
  overflow: visible !important;
  
  .amcharts-chart-div {overflow: visible !important;}
  
  .amcharts-legend-div {
    display: none !important;
    font-size: 0;
    line-height: 0;
  }
}

svg {
  text {text-shadow: 0 0 1px #000;}
}

.amChartsLegend.amcharts-legend-div {
  text {text-shadow: none !important;}
}

.block-holder {
  
  .error-msg {
    display: table-cell;
    vertical-align: middle;
  }
}

.error-msg {
  width: 100%;
  text-align: center;
  
  > * {
    @include inline-block(middle);
    text-transform: capitalize;
    color: $mine-shaft;
    font-size: 30px;
    line-height: 30px;
  }
}