<div class="ibox business-breakdown float-e-margins" ng-class="{loading: show_loading}">

  <div class="title-outer">
    <div class="ibox-title">
      <h5>
        Business Segment Breakdown <small> (<strong>{{total_feedback_count}}</strong>)</small>
      </h5>
      <div class="ibox-tools">
        <ul class="tab-links">
          <li ng-class="{active: class == ''}">
            <a ng-click="onClick()" ng-disabled = "show_loading">
              All
            </a>
          </li>
          <li ng-repeat="label in labels" ng-class="{active: class == label.name}">
            <a ng-click="onClick(label)" id = "{{label.name}}" ng-disabled = "show_loading">
              {{label.name}}
            </a>
          </li>
          <li class="item5">
            <div class="calender-outer">
              <span class="calendar-holder">
                <input date-range-picker id="daterange-map" readonly="readonly" name="daterange-map" class="date-picker" type="text" ng-model="date" max="today" options = "datePickerOption" readonly="true"/>
                <i class="fa fa-calendar" map-range-click></i>
              </span>
            </div>
          </li>
          <li class="item6">
            <div class="calender-outer"><a ng-click = "open()" class="modal-opener"><i class="fa fa-arrow-right"></i></a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-holder">
    <div class="ibox-content add">
      <div class="chart-outer">
        <div class="progress-container">
          <div class="progress-area" progress-bar-spacing data-data="category_data">
            <div class="progress-holder" ng-repeat="dat in category_data" data-color="dat.colour" data-data="category_data" progress-bar-background>
              <div class="progress-inner">
                <small>
                  <em>
                    <a ng-click="onClick(dat)" ng-if = "mainView">
                      {{dat.name}}
                    </a>
                    <span ng-if = "!mainView">
                      {{dat.name}}
                    </span>
                    <b>
                      {{dat.complaints}} complaints
                    </b>
                  </em>
                </small>
                <div class="progress-block main" ng-click="onClick(dat)" ng-if = "mainView">
                  <uib-progressbar animate="false" value="dat.percentage" type="success"></uib-progressbar>
                </div>
                <div class="progress-block" ng-if = "!mainView">
                  <uib-progressbar animate="false" value="dat.percentage" type="success"></uib-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-holder">
        <div class="row">
          <div class="morris-block-holder" same-segment-height data-data="segments">
            <div class="morris-content-holder" ng-repeat="segment in segments track by $index">
              <span class="feedback-count"> Feedbacks: {{segment.total_feedback_count}} </span>
              <div class="morris-graph-holder">
                <div class="morris-holder">
                  <div ng-hide="segment.show_string">
                    <canvas id="doughnut" width="100" height="100" class="chart chart-doughnut" chart-data="segment.data" chart-labels="segment.labels" chart-colours="segment.colors" chart-options="segment.options"></canvas>
                  </div>
                  <div ng-show="segment.show_string">No Data Available</div>
                </div>
              </div>
              <strong class="title">{{segment.name}} ({{segment.total_option_count}}) </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>